{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>

    <div class="container m-auto">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3 text-center">Paramètre de compte de <strong>{{ request.user.username |capfirst }}</strong></h1>
        <div class="mt-12 gap-8">
            <form enctype="multipart/form-data" method="post" action="{% url "accounts:settings" pk=request.user.profile.id%}" class="bg-white rounded-md lg:shadow-lg shadow col-span-2  mb-5">
                {% csrf_token %}
                   <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <div class="col-span-2">
                            <label for="">Profile</label>
                                {% if request.user.profile.img %}
                                    <img src="{{ request.user.profile.img.url }}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                {% endif %}
                            {% render_field form.img class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800 text-center" %}
                        </div>
                        <div class="col-span-2">
                            <label for="about">Bio</label>
                            {% render_field form.bio class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" %}
                        </div>
                        <div class="col-span-2">
                            <label for="">Location</label>
                            {% render_field form.location class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" %}
                        </div>
                   </div>
                   <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                       <button type="reset" class="p-2 px-4 rounded bg-gray-50 text-red-500"> Annulé </button>
                       <button type="submit" class="button bg-blue-700"> Enregistrer </button>
                   </div>
            </form>
        </div>
    </div>

 <!-- Scripts ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>